<p>ENTER YOUR NEW FAVORITE CHANNEL</p>
<form [formGroup]="channelForm" (ngSubmit)="save()">
  <div>
    <label for="">
      <input type="text" placeholder="Name" formControlName="name" />
    </label>
  </div>
  <div>
    <label for="">
      <input
        type="number"
        placeholder="Number Of Subscribers"
        formControlName="numberOfSubscribers"
      />
    </label>
  </div>
  <div>
    <label for="">
      <input
        type="number"
        placeholder="Start Year"
        formControlName="startYear"
      />
    </label>
  </div>

  <button type="submit">Save</button>
</form>
