<p>ENTER YOUR NEW FAVORITE CHANNEL</p>
<div class="form">
  <form [formGroup]="channelForm" (ngSubmit)="save()">
    <div class="inter">
      <input
        type="text"
        placeholder="Name"
        formControlName="name"
        class="form-control"
        size="40px"
      />
    </div>
    <div class="inter">
      <input
        type="number"
        placeholder="Number Of Subscribers"
        formControlName="numberOfSubscribers"
        class="form-control"
      />
    </div>
    <div class="inter">
      <input
        type="number"
        placeholder="Start Year"
        formControlName="startYear"
        class="form-control"
      />
    </div>
    <div class="button_add">
      <button class="btn btn-outline-success" type="submit">Save</button>
    </div>
  </form>
</div>
