<p>EDIT PLAYLIST</p>
<div class="form">
  <form [formGroup]="playlistForm" (ngSubmit)="updatePlaylist()">
    <div class="inter">
      <input
        type="text"
        placeholder="Title"
        formControlName="title"
        class="form-control"
        size="40px"
      />
    </div>
    <div class="inter">
      <input
        type="number"
        placeholder="Number of videos"
        formControlName="numberOfVideos"
        class="form-control"
      />
    </div>
    <div class="button_add">
      <button type="submit" class="btn btn-outline-success">Update</button>
    </div>
  </form>
</div>
