.title {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: xx-large;
  margin-top: 1cm;
  text-align: center;
}
.videos {
  display: flex;
  justify-content: center;
}
