.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    margin-top: 1cm;
    text-align: center;

}

.channels{
    margin:auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    margin-top: 1cm;
    margin-left: 9cm;
}